@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500;600;700&family=Play:wght@400;700&display=swap");

body {
    font-family: "Exo", sans-serif;
    background-image: url(../images/light-theme-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navigation menu */

.header-style {
    padding: 0;
}

.navi {
    background-color: rgba(82, 79, 79, 0.8);
    padding-top: 10px;
}

.nav-link-style {
    color: #4ef207;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5%;
}

.nav-link-style:hover {
    color: #f5f5f0;
    background: #4ef207;
}

/* Section */

section {
    margin-left: 0;
    margin-right: 0;
}

.main-heading {
    padding: 10px;
    font-family: "Play", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: #4ef207;
    margin-top: 50px;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
}

.heading {
    color: #4ef207;
    padding: 10px;
    text-align: center;
    font-family: "Play", sans-serif;
    letter-spacing: 1px;
    margin-top: 25px;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
}

.instuctions {
    color: #4ef207;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
    margin-top: 25px;
}

.play {
    display: flex;
    justify-content: center;
    background-color: rgba(82, 79, 79, 0.5);
    color: #4ef207;
    margin: 50px 100px;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #4ef207;
}

.play:hover {
    text-decoration: none;
    color: #524f4f;
    background: rgba(241, 234, 234, 0.5);
}

/* Game Section Styles */

.time-score {
    color: #4ef207;
    margin-top: 25px;
    margin-left: 10px;
}

.time-score,
h3 {
    margin-right: 50px;
    margin-bottom: 0;
}

h3 {
    background: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
}

.game-wrapper {
    margin-top: 25px;
    margin-bottom: 50px;
}

.game {
    width: 425px;
    height: 425px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 430px ){
    .main-heading {
    padding: 10px;
    font-family: "Play", sans-serif;
    text-align: center;
    color: #4ef207;
    margin-top: 25px;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
    font-size: 1.5rem;
    font-weight: 400;
    }

    h3 {
    background: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
    font-size: 1.5rem;
    }    
    
    .game-wrapper{
        margin-bottom: 25px;
    }
    
    .game, img{
        max-width: 90%;
        height: 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1px;
    }
}

@media screen and (max-width: 360px ){
    .main-heading {
    padding: 10px;
    font-family: "Play", sans-serif;
    text-align: center;
    color: #4ef207;
    margin-top: 25px;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
    font-size: 1rem;
    font-weight: 400;
    }

    h3 {
    background: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
    font-size: 1rem;
    }    
    
    .game-wrapper{
        margin-bottom: 25px;
    }
    
    .game, img{
        max-width: 90%;
        height: 61px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1px;
    }
}

img {
    border: 1px solid #4ef207;
    border-radius: 5%;
    margin: 2px;
}

img:hover {
    border: 1px solid #524f4f;
}

/* Footer */

.footer-style {
    background-color: rgba(82, 79, 79, 0.8);
    margin: 0;
    padding: 10px;
}

/* Theme buttons */

.theme-buttons {
    display: flex;
    justify-content: center;
}

.theme-buttons p {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #4ef207;
    margin: 0;
}

.day,
.night {
    margin-right: 10px;
    border: 1px solid #4ef207;
    border-radius: 5%;
    letter-spacing: 1px;
}

.day {
    background: #f5f5f0;
    color: #524f4f;
}

.night {
    background: #524f4f;
    color: #f5f5f0;
}

.day:hover {
    color: #f5f5f0;
    background: #4ef207;
}

.night:hover {
    color: #524f4f;
    background: #4ef207;
}
