@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500;600;700&family=Play:wght@400;700&display=swap");

body {
    font-family: "Exo", sans-serif;
    background-image: url(../images/light-theme-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Home page content */

.home-content {
    width: 75%;
    margin: auto;
}

.main-heading {
    padding: 10px;
    font-family: "Play", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: #4ef207;
    margin-top: 25px;
    margin-bottom: 0;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
}

.main-heading a {
    color: #4ef207;
    text-decoration: none;
}

.heading {
    color: #4ef207;
    padding: 10px;
    text-align: center;
    font-family: "Play", sans-serif;
    letter-spacing: 1px;
    margin-top: 25px;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
}

.instuctions {
    color: #4ef207;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
    margin-top: 25px;
}

.play {
    display: flex;
    justify-content: center;
    background-color: rgba(82, 79, 79, 0.5);
    color: #4ef207;
    margin: 25px auto;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #4ef207;
}

.play:hover {
    text-decoration: none;
    color: #524f4f;
    background: rgba(241, 234, 234, 0.5);
}

/* Game page Section */

section {
    margin: auto;
}

h3 {
    background: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
    margin-bottom: 0;
    color: #4ef207;
    margin: 25px 25px 0 25px;
    padding: 5px;
}

h3 a {
    color: #4ef207;
    text-decoration: none;
}

h3 a:hover {
    color: #4ef207;
    text-decoration: none;
}

.game-wrapper {
    margin-top: 25px;
    margin-bottom: 50px;
}

.game {
    width: 425px;
    height: 425px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

img {
    border: 1px solid #4ef207;
    border-radius: 5%;
    margin: 2px;
}

img:hover {
    box-shadow:
                1px 1px #4ef207,
                2px 2px #524f4f,
                3px 3px #4ef207;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

/* Media Queries */

@media screen and (max-width: 430px) {
    section {
        padding-bottom: 150px;
    }

    .home-content {
        width: 90%;
        margin: auto;
    }

    .main-heading {
        padding: 10px;
        font-family: "Play", sans-serif;
        text-align: center;
        color: #4ef207;
        background-color: rgba(82, 79, 79, 0.5);
        border: 1px solid #4ef207;
        font-size: 1.5rem;
        font-weight: 400;
    }

    h3 {
        background: rgba(82, 79, 79, 0.5);
        border: 1px solid #4ef207;
        font-size: 1.5rem;
    }

    .game,
    img {
        max-width: 90%;
        height: 77px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1px;
    }
}

@media screen and (max-width: 360px) {
    .main-heading {
        padding: 10px;
        font-family: "Play", sans-serif;
        text-align: center;
        color: #4ef207;
        margin-top: 25px;
        background-color: rgba(82, 79, 79, 0.5);
        border: 1px solid #4ef207;
        font-size: 1.3rem;
        font-weight: 400;
    }

    h3 {
        background: rgba(82, 79, 79, 0.5);
        border: 1px solid #4ef207;
        font-size: 1.3rem;
    }

    .game-wrapper {
        margin-bottom: 25px;
    }

    .game,
    img {
        max-width: 90%;
        height: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1px;
    }
}

/* Footer */

.footer-style {
    background-color: rgba(82, 79, 79, 0.8);
    margin: 0;
    padding: 10px;
}

/* Theme buttons */

.theme-buttons {
    display: flex;
    justify-content: center;
}

.theme-buttons p {
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #4ef207;
    margin: 0;
}

#day,
#night {
    margin-right: 10px;
    border: 1px solid #4ef207;
    border-radius: 5%;
    letter-spacing: 1px;
}

#day {
    background: #f5f5f0;
    color: #524f4f;
}

#night {
    background: #524f4f;
    color: #f5f5f0;
}

#day:hover {
    color: #f5f5f0;
    background: #4ef207;
}

#night:hover {
    color: #524f4f;
    background: #4ef207;
}

/* Pop Up windows */

.body-bg {
    background-image: url(../images/dark-theme-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pop-up {
    padding: 10px;
    font-family: "Play", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: #4ef207;
    margin-top: 25px;
    margin-bottom: 0;
    background-color: rgba(82, 79, 79, 0.5);
    border: 1px solid #4ef207;
}
